################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/developers-guide/v16
/.vs/slnx.sqlite
